<section class="card">
    <!--The contents of the quiz-page-scoreboard links to the quiz-page page using the quiz-page ID -->
<a href="/quiz/{{id}}">
    <!--The card contained the scoreboard table-->
    <header>SCOREBOARD</header>
    <!-- In the body of the card the scoreboard is rendered -->
    <div class="card-body">
        <h1></h1>
    </div>
</a>
</section>