
<main style="background-color:#FFDF00; height: 100vh; margin-bottom: 30px;">
  <div style="width:45%; display:inline-block; padding-top: 72px; font-family: 'Space Grotesk'; padding-bottom: 200px">
    <h1 style="font-weight: 500; font-size: 400%; padding-bottom: 20px; padding-left: 20px">
      Welcome to UQuiz, <span style="font-weight: 200;">{{ userPage.username }}</span>!
    </h1>

    <p class="control" style="padding-left: 40px; padding-top: 20px; font-size: 140%; font-weight: 100;">
      <a href="/quiz">
        <button class="button is-success" type="submit" id="play-uquiz" style="background-color: #E12C2C; color: #FFD700; width: 70%; height: 70px;">
          PLAY UQUIZ!
        </button>
      </a>
    </p>
  </div>

  <div style="width:50%; display:inline-block; margin: 30px; padding: 30px; font-family: 'Space Grotesk'; background-color: #FFA500">
        <h2 style="font-weight: 500; font-size: 200%; padding-bottom: 10px">
            Create Your Own Question
        </h2>

<div class="control" style="padding-bottom: 10px;">
    <label style="padding-right: 30px; font-size: 150%; font-weight: 200;">Select the Category</label>
    <div class="select">
        <select name="category" id="category" required>
            {{#each categories}}
              <option value="{{ id }}">{{ category_name }}</option>
            {{/each}}
        </select>
    </div>
</div>


        <div class="field">
  <h2 style="font-size: 150%; font-weight: 200;">
    Write your Question in the Box Below
</h2>
  <div class="control has-icons-left">
    <input class="input" id="question" type="text" placeholder="Question" required>
    <span class="icon is-small is-right">
      <ion-icon name="person-outline"></ion-icon>
    </span>
  </div>
        </div>

<h2 style="font-size: 150%; font-weight: 200;">
    Create 4 different answers for the Question!
</h2>

  <div class="field">
  <label class="label">Answer A</label>
  <div class="control has-icons-left">
    <input class="input" id="answer-a" type="text" placeholder="Answer A" required>
    <span class="icon is-small is-right">
      <ion-icon name="person-outline"></ion-icon>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Answer B</label>
  <div class="control has-icons-left">
    <input class="input" id="answer-b" type="text" placeholder="Answer B" required>
    <span class="icon is-small is-right">
      <ion-icon name="person-outline"></ion-icon>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Answer C</label>
  <div class="control has-icons-left">
    <input class="input" id="answer-c" type="text" placeholder="Answer C" required>
    <span class="icon is-small is-right">
      <ion-icon name="person-outline"></ion-icon>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Answer D</label>
  <div class="control has-icons-left">
    <input class="input" id="answer-d" type="text" placeholder="Answer D" required>
    <span class="icon is-small is-right">
      <ion-icon name="person-outline"></ion-icon>
    </span>
  </div>
</div>

<h2 style="font-size: 150%; font-weight: 200;">
    Which of the following answers is correct?
</h2>

<div style="display: inline-flex; margin-bottom: 15px; ">

<label class="label">Correct Answer</label>
<div class="select">
  <select id="answer" required>
    <option value="a" id="answer-a">A</option>
    <option value="b" id="answer-b">B</option>
    <option value="c" id="answer-c">C</option>
    <option value="d" id="answer-d">D</option>
  </select>
</div>


</div> </br>

<div class="field">
  <p class="control">
    <button class="button is-success" type="submit" id="question-form" style="background-color: #D40000; color: #FFDF00">
      Submit Question
    </button>
  </p>
</div>

</div>

    </div>

<script src="/js_1/questionSubmission.js"></script>
</main>