<h1>Helllo {{questions.[0].question_body}}</h1>
<p>This is  my example's page!!!!!!!!</p>
{{#each questions as |question|}}
    <p>{{category_id}} {{category.category_name}}</p>
{{/each}}
{{!-- Writing category id and category_name for every question. category.category_name is required because it is bringing that in from the category table through the association/foreign key --}}

