<div class="row">
  <div class="col-auto">
    <h2>Welcome to UQuiz, {{username}}!</h2>
  </div>
</div>
<div>
    <h3>Leaderboard</h3>
    <h3>Submit a question and answer</h3>
    <h3>Play UQuiz</h3>
</div>

//need this?<script src="./js/profile.js"></script>