<div>
    <div>
        <h2> {{{question}}} </h2>
    </div>
    <div>
        <input type="text" placeholder="answer" value="answer">
        <button type="submit">SUBMIT</button>
        {{#if answer === question.answer}}
        //response?
        <div> 
            <h2> Correct! </h2>
        </div>
        {{else}}
        <h2>Wrong!</h2>
            
    </div>

</div>

<script src="./js/quiz.js"></script>