<div>
    <div>
        <h2> {{{question}}} </h2>
    </div>
    <div>
        <input type="text" placeholder="answer" value="answer">
        <button type="submit">SUBMIT</button>
     
            
    </div>

</div>

<script src="./js/quiz.js"></script>